#registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000003-bci-npm-virtual/
#//artifactory.boschdevcloud.com/artifactory/api/npm/lab000003-bci-npm-virtual/:_authToken=${LAB000003_NPM_AUTH_TOKEN}
always-auth=true
https-proxy=http://localhost:3128/
strict-ssl=false
@bci-web-core:registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/bci-npm-public-bios-release-virtual/
//artifactory.boschdevcloud.com/artifactory/api/npm/bci-npm-public-bios-release-virtual/:_authToken=${BCI_NPM_AUTH_TOKEN}